@page "{id:int}"
@model DoItInCpp.Pages.Addons.DetailsModel
@using DoItInCpp.Utilities;

@{
    Layout = "_Erin_Layout";
    ViewData["Title"] = Model.AddOn.Name;
}


<div id="addon-body" class="container p-5 my-4">
	<h1>@Html.DisplayFor(model => model.AddOn.Name)</h1>
    @if(Model.AddOn.Tagline != null) {
	<i class="tagline">@Html.DisplayFor(model => model.AddOn.Tagline)</i>
    }
    <p></p>
    <component type="typeof(DoItInCpp.Components.ParsedDescription)" param-Description="@Model.AddOn.Description" render-mode="Static" />
</div>
