@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Do It In C++</h1>
</div>
<div>
    <p>This project aims to provide easy access to common coding tasks with code that allows users to "Do It in C++".</p>
    <p>"Do It In C++" is meant to be a useful resource for learners and recreational programmers, not a high-performance development resource for trained professionals. To this end, the product will provide a database of well-documented, general-purpose code which the users can download and include in their projects.</p>
    <p>This code will include robust functions for common tasks such as requesting and handling user input, importing and exporting files, and outputting complex data structures. The product could also provide tools for getting started on a project, such as code snippets to set up a basic HTTP server or database connection, or a means of generating the necessary <code>.cpp</code> and <code>.h</code> files for a class hierarchy.</p>
    <p>The best two platforms to deliver this content are a webpage or a vscode extension. A webpage would provide plenty of versatility to organize and provide the content in the best way possible while remaining convenient for users to access with a low barrier to entry. On the other hand, a vscode extension would provide a more streamlined workflow for experienced users but it would be less versatile in the potential services and present a higher barrier to entry.</p>
    <a href="Members" class="btn btn-outline-primary mt-4"><h3>Meet the members!</h3></a>
</div>
