@page
@model LibraryModel
@using DoItInCpp.Models
@{
    Layout = "_Erin_Layout";
    ViewData["Title"] = "Library";
}

<div class="topBar container mw-100 p-0">
    <div class="row p-4">
        <h1>Library</h1>
    </div>
</div>

<!-- Snippets Loading in -->
<div class="container p-5">
    @foreach (var cat in Model.SnippetGroups)
    {
    <h2 id=@(cat.Key.Replace(' ', '-'))>@cat.Key</h2>
    <component type="typeof(DoItInCpp.Components.CardList)" param-Snippets="@cat.Value" render-mode="Static" />
    }
</div>