@page
@model MembersModel
@{
    ViewData["Title"] = "Members";
}
<!--<h1>@ViewData["Title"]</h1>-->

<div class="row">
    <div class="col align-self-start">
        <h1>Ethan Worth</h1>
        <p>Ethan provides the skills necessarily to design a fast and functioning backend to deliver content to users. He has years of experience in C++ coding and instruction, as well as more targeted skills such as database management and computer networking.</p>
        <img src="assets/ethan.jpg" alt="A picture of Ethan" title="Ethan" width="90%">
    </div>
    <div class="col align-self-start">
        <h1>Erin Bell</h1>
        <p>Erin's design expertise is essential in designing an appealing site with satisfying user experience. She also provides the welcome perspective of someone who is in the process of learning C++ and writing in it for classes.</p>
        <img src="assets/erin.jpg" alt="A picture of Erin" title="Erin" width="90%">
    </div>
</div>