@page
@model SearchModel
@{
    Layout = "_Erin_Layout";
    ViewData["Title"] = "Search";
}

<div class="searchBody container mw-100 mh-100">
    @if(Model.CurrentSearch != null) 
    {
    <h2>Search Results For: "@Model.CurrentSearch"</h2>
    <component type="typeof(DoItInCpp.Components.CardList)" param-Snippets="@Model.Snippets" render-mode="Static" />
    } else {
        <h2>Enter a search term</h2>
    }
</div>